<br />
<br />
<div class="jumbotran">
  <h1>About Bookmarks</h1>
  <p>It is an application that allows a user to bookmark URLs via email, peruse other user's bookmarks and maintain a personal index of categorized bookmarks.
  </p>
  <small> Created by: Anitha Palanisamy </small>
</div>
