<br>
</br>
<div class="jumbotran text-center content">
  <div class="row heading">
    <h1>Welcome to Bookmarks</h1>
    <p class="lead"> Bookmarks is a resource for bookmarking, organizing and sharing those bookmarks with friends.</p>
     </p><%= image_tag("http://i.imgur.com/WUiwu2t.png") %> </p>
  </div>
</div>
